body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	box-sizing: inherit;
}
:root {
	light_primary_color: #007bff;
	light_secondary_color: #6c757d;
	light_accent_color: #ffc107;
	light_background_color: #ffffff;
	light_text_color: #333333;
	dark_primary_color: #66ccff;
	dark_secondary_color: #bdc6cf;
	dark_accent_color: #ffdb58;
	dark_background_color: #222222;
	dark_text_color: #f8f9fa;
}
